[submodule "cpr"]
	path = opt/cpr
	url = git@github.com:whoshuu/cpr.git
[submodule "google-api-cpp-client"]
	path = opt/google-api-cpp-client
	url = git@github.com:Livetubeio/google-api-cpp-client.git
[submodule "pistache"]
	path = opt/pistache
	url = https://github.com/Livetubeio/pistache.git
[submodule "libjwt"]
	path = opt/libjwt
	url = git@github.com:Livetubeio/libjwt.git
