[submodule "cpr"]
	path = opt/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "google-api-cpp-client"]
	path = opt/google-api-cpp-client
	url = https://github.com/Livetubeio/google-api-cpp-client.git
[submodule "pistache"]
	path = opt/pistache
	url = https://github.com/Livetubeio/pistache.git
[submodule "libjwt"]
	path = opt/libjwt
	url = https://github.com/Livetubeio/libjwt.git
[submodule "opt/rapidjson"]
	path = opt/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "opt/socket.io-client-cpp"]
	path = opt/socket.io-client-cpp
	url = https://github.com/socketio/socket.io-client-cpp.git
